.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width: 1200px;
}
h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -2%;
    color: #000;
}